body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3 {
    text-align: center;
}

h3 {
    opacity: 0.5;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

#map {
    text-align: center;
    height: fit-content;
    border: 8px inset #B2B2B2;;
}

#legend {
    width: fit-content;
}

#graphPlot {
    text-align: center;
    font-size: 12px;
}

.text-label {
    fill: black;
    stroke: black;
    stroke-width: 0;
    font-size: 7;
    font-weight: bold;
}

.community {
    stroke: black;
    stroke-width: 0.5;
}

.community:hover {
    fill: #D64933
}

.legend-text {
    font-weight: bold;
    text-anchor: start;
    font-size: 14;
}

.legend-value-text {
    font-weight: normal;
    text-anchor: start;
    font-size: 14;
}

.source-label {
    font-weight: bold;
    font-size: 14;
}
  