body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 0 0 0 !important;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.container {
    margin-left: 10;
    margin-right: 10;
}

.reset-button {
    margin: 5;
}

#map {
    text-align: center;
    height: fit-content;
    border: 8px inset #B2B2B2;;
}

#legend {
    width: fit-content;
}

#dropdown {
    margin: 5;
}

#graphPlot {
    text-align: center;
    font-size: 12px;
}

.text-label {
    fill: #363636;
    stroke: #363636;
    stroke-width: 0;
    font-size: 7;
    font-weight: bold;
}

.dropdown-item {
    font-size: 12;
}

.label {
    fill: #363636;
}

.community {
    stroke: #363636;
    stroke-width: 0.5;
}

.legend-text {
    fill: #363636;
    font-weight: bold;
    text-anchor: start;
    font-size: 12;
}

.legend-value-text {
    fill: #363636;
    font-weight: normal;
    text-anchor: start;
    font-size: 14;
}

.source-label {
    font-weight: bold;
    font-size: 14;
    margin-top: 5;
}
  